@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/Graphik/stylesheet.css';

*{
  box-sizing: border-box
}
body{
  @apply overflow-x-hidden text-gray-900;
  font-family: 'Graphik', sans-serif;
  
}
// style titles
h2{
  @apply text-gray-900 text-lg leading-6 font-bold mb-4;
}
h3{
  @apply font-semibold text-base leading-5 mb-1;
}
h4{
  @apply text-base font-medium leading-5;
}
h5{
  @apply text-sm font-medium text-gray-900;
}
// style text
.t2{
  @apply font-normal text-sm;
}
.t3{
  @apply text-xs font-medium;
}
.t4{
  @apply text-base leading-5 font-normal;
}

// служебные классы
.wrapper{
  @apply flex flex-col justify-between min-h-screen;
}
.main{
  @apply flex-grow bg-gray-100;
  flex: 1 1 100%;
}
.cont{
  @apply container mx-auto px-2;
}
// заголовок блока с правой кнопкой показать всё
.title-see{
  @apply flex justify-between items-center mb-4 w-full;
  *{
    @apply mb-0
  }
}
section{
  @apply mb-8;
}

// слайдер по горизонтали
.slider{
  @apply flex flex-row gap-4 mb-6 w-screen overflow-x-scroll -mx-2 px-2 pb-4 mb-2;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}


.head{
  @apply cont flex py-6 items-center justify-between relative z-50 bg-gray-900;
}

.header-bar{
  @apply flex gap-4 items-center ;
}
.auth{
  @apply bg-gray-800 text-white flex items-center justify-center gap-2 rounded-lg my-4 w-full hover:bg-gray-700;
  padding: 10px 25px;
}
.menu{
  @apply absolute z-40 left-0 bg-gray-900 w-screen transition-all duration-500;
  transform: translateY(-100%);
  top: -100%;
}
.menu_active{
  transform: translateY(0%);
  top: 100%;
}
.menu-list{
 
  li{
    @apply border-gray-300 border-solid last:border-b-0;
    border-bottom-width: 1px;
  }
  a{
    @apply text-white bg-opacity-0 bg-white text-base font-semibold leading-none hover:bg-opacity-5;
    display: block;
    padding: 20px 4px;

  }
}

// блок рекомендаций
.rec{
  &-block{
    @apply  w-32 text-center ;
  }
  &-window{
    @apply py-6 px-1.5 bg-white rounded-lg w-32 mb-2 h-20 flex justify-center items-center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08)
  }
  &-name{
    @apply px-3 text-center text-gray-900;
  }
}

// продукт с рекомендацией в зелёном блоке
.product-rec{
  @apply flex items-center rounded-lg w-full py-2 px-4 text-white mb-8;
  background: linear-gradient(180deg, #CBD623 0%, #41701E 100%);

  &__text{
    width: 100%;
    p{
      @apply opacity-50;
    }
  }

  &__img{
    width: 50px;
    height: 100%;
  }
}


// блок с растениями
.plants{
  &-list{
    @apply grid gap-4 grid-cols-2;
  }
  &-block{
    @apply bg-white rounded-lg overflow-auto;
    
  }
  &-photo{
    @apply bg-gray-900 flex justify-center items-center h-20 p-1 pb-2;
    img{
      object-fit: cover;
    }
  }
  &-info{
    @apply relative py-2 pt-4 px-2 flex flex-col justify-between items-center;
    min-height: 110px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  // рейтинг
  &-rating{
    @apply absolute top-0 left-1/2 bg-orange-400 -translate-x-1/2  -translate-y-1/2 text-white px-1 py-0.5 rounded-sm flex items-center gap-0.5;
    // звездочка
    &::before{
      content: '';
      display: inline-block;
      width: 13px;
      height: 12px;
      background: url('../assets/images/Star.svg') no-repeat;
    }
  }
  &-name{
    @apply text-center;
  }
  &-btn{
    @apply text-base font-medium text-primary rounded-lg w-full text-center;
    background-color: rgba(226, 254, 219, 1);
    padding: 10px 36.5px;
  }
}

.care{
  &-block{
    @apply w-60 rounded-lg p-2 bg-white flex flex-col justify-between;
    min-width: 240px;
    box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
  }
  &-photo{
    height: 124px;
    flex: 0 0 124px;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
  }
  &-info{
    @apply mt-2 flex flex-col justify-between;
    flex: 1 1 100%;
  }
  &-title{
    @apply mt-2 text-primary-2;
  }
  &-desc{
    height: 100%;
  }
  &-btn{
    @apply w-full bg-primary-2 rounded-lg text-white text-base font-medium text-center;
    padding: 10px 30px;
    margin-top: 8px;
  }
  
}

.news{
  @apply mb-6;
  &-block{
    @apply w-full rounded-lg;
  }
  &-photo{
    @apply rounded-lg h-auto w-full object-contain;
    flex: 0 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  &-info{
    @apply mt-2 flex flex-col justify-between;
    flex: 1 1 100%;
  }
  &-title{
    @apply mt-2 ;
  }
  &-param{
    @apply flex gap-2 items-center;
    span{
      @apply text-gray-500;
      line-height: 20px;
    }
  }
  &-views{
    @apply flex items-center;
    &::before{
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 2px;
      background: url('../assets/images/message.svg') no-repeat;
    }
  }

}



.footer{
  @apply p-4 bg-gray-900;
  // min-height: 40px;
}